<div class="container h-100">
    <div class="htop">
        <h2 class="text-center">Книги</h2>

        <div class="form-row navbar-panel justify-content-between">

         <div class="col-md-auto">
                {{!-- {{#link-to "books.create" class="btn-new"}} --}}
                <button class="btn btn-outline-primary my-2">Добавить спикера</button>
                {{!-- {{/link-to}} --}}
            </div>


            <div class="col-md-auto search">
                {{input type="text" class="form-control mr-2" placeholder="Search by book name" value=search}}
            </div>

               <div class="col-md-auto search">
                {{input type="text" class="form-control mr-2" placeholder="Поиск по тегам книги" value=search_tag}}
            </div>
        </div>

      <div class="row row-cols-1 row-cols-md-3">
            {{#if isLoading}}
            <div class="welcome-page">
                <img src="/loading.gif" alt="Loading">
            </div>
            {{else}}
            {{!-- <div class="row"> --}}
                {{#each model as |books|}}
                {{book-item book=books}}
                {{/each}}
            {{!-- </div>  --}}
            {{/if}}
        </div>
    </div>
{{outlet}}
</div>
